<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-content" style="max-width:1200px">

<div class="w3-panel">
  <i class="w3-xlarge fa fa-bars"></i>
</div>
<!-- First Grid: Logo & About -->
<div class="w3-row">
<div class="w3-half w3-container">
  <h1 class="w3-xxlarge w3-text-light-grey">VERONICA NCHENGEDZENI RASEBETSHELA</h1>
  <img src="..//assets/VERO.jpg" style="width: 40%" class="circular-image">


  <h4 class="w3-xlarge w3-text-grey">IT GRADUATE</h4>
  <h2 class="w3-large">PROFILE</h2>
  <p>I am a friendly,honest and reliable young woman who can follow instructions and is willing to learn.I am also self-motivated and work well under pressure.</p>

</div>

<!-- Second Grid: Resent -->
<div class="w3-panel w3-text-grey">
<h4>EDUCATION:</h4>
<p>Matric-2007</p>
<p>NCV Level 4 Information Technology and Computer Science 2015-2017</p>
</div>
<div class="w3-row">
<div class="w3-half w3-container">
</div>
<div class="w3-half w3-container">
  <p class="w3-xlarge w3-text-grey">
  <h4>PERSONAL SKILLS</h4>
  <p>Adaptability</p>
  <p>Finacial</p>
  <p>Human Relations
  <p>Information</p>
  <p>Language</p>
  <p>Self-management</p>
  <p>Team</p>
  <p>Thinking</p>
  <p>Strong organasational skill</p>
  
</div>
<!-- Footer -->
<div class="w3-row w3-section">
  <div class="w3-third w3-container w3-black w3-large" style="height:300px">
    <h2>CONTACT</h2>
    <p><i class="fa fa-map-marker" style="width:30px"></i> 1377   Luaname Street Tshiawelo, Soweto</p>
    <p><i class="fa fa-phone" style="width:30px"></i> Phone: 0744538529</p>
    <p><i class="fa fa-envelope" style="width:30px"> </i> Email: nchenge12@gmail.com</p>
  </div>
  <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:300px">
    <h2>WORK EXPERIENCE</h2>
    <p>Field Worker-Statitcs South Africa(CENSUS)2009</p>
    <p>Data Capturer-Tshepo Themba(CLINIX)2011</p>
    <p>Scrum master(WBEL-Work based experential learning)-Absa 2017</p>

    
  </div>
  <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:300px">
    <h2>REFERENCES</h2>
    <p>Mr OL Mogotsi 076 448 2432 </p>
    <p>DR SD Makamu 011 983 0894/082 7025 601 </p>
    <p>Rene Olfonsen 079 180 1489  </p>
    
  </div>



